*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
    
    
}
form{
    background-color:rgb(236, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400vh;
    box-shadow: 2px 2px 4px rgba(214, 118, 118, 0.1);
    padding: 50px;

}
label{
    display: block;
    margin-bottom:5px;
}
form div input{
    width: 95vh;
    height: 40px;
    border-radius: 8px;
    padding:0 30px;
    outline: none;
    box-shadow: 2px 2px 4px rgba(209, 110, 110, 0.915);
    border: 2px solid #f2796e;
   

}
form div{
    position: relative;
    margin-bottom: 10px;
}
input:focus{
    border: 3px solid #f2796e;
}
form div i{
    position: absolute;
    padding: 10px;
}
.error{
    font-size: 15px;
    margin-top: 5px;
}
.failure-icon,
.success-icon{
    right: 0;
    opacity: 0;
}
button{
    border-radius: 5px;
    height: 35px;
    background-color:#f2796e;
    border: 2px solid #f2796e;
}
/* @media screen and (min-width:200px) and (max-width:800px) {
    .container{

     width: 50%;
       
    }
    form div input{
        width: 40%;
        height: 40%;
        border-radius: 8px;
        padding:0 10px;
        outline: none;
        box-shadow: 2px 2px 4px rgba(209, 110, 110, 0.915);
        border: 2px solid #f2796e;
       
    
    } */ 

    
/* } */